
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --ark-grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

body{
    width: 100vw;
    height: 100vh;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    font-family: Red Hat Display;
    scroll-behavior: smooth;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
/* Typography */
.logo{
    font-family: 900;
    color: var(--very-dark-cyan);
    letter-spacing: 1em;
}
.input-1 > p{
    font-weight: 500;
    color: var(--ark-grayish-cyan);
}
h3 {
    font-weight: 700;
    color: var(--very-dark-cyan)
}
.select-tip{
    font-weight: 500;
    color: var(--ark-grayish-cyan);
    margin-top: 20px;
}
.tip-amo,
.total-1{
    color: var(--white);
    font-weight: 700;
}
.paint{
    color: rgb(23, 156, 134)
}

/* End of typography */
.card{
    width: 70%;
    height: 450px;
    background-color: var(--white);
    margin: 0 auto;
    border-radius: 20px;
    margin-bottom: 20px;
    min-width: 700px;
}
.card-main-body{
    display: flex;
    justify-content: space-between;
    margin-top: 1.7em;
    
}
.left{
    margin: 40px;
    width: 50%;
    min-width: 250px;
    
}
.bill{
    font-weight: 500;
    color: var(--ark-grayish-cyan);
    margin-bottom: 10px;
}
.input-1, .input-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    background-color: hsl(184, 41%, 93%);
    border-radius: 10px;
    width: 100%;
    height: 40px;
}
.boxes > div{
    padding: 7px;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 110px;
    border-radius: 5px;
    text-align: center;
    color: var(--white);
    font-weight: 500;
    background: var(--very-dark-cyan);
}
.boxes > div:nth-child(3) {
    background: rgb(28, 201, 172);
}
.boxes > div:last-child{
    background: var(--white);
    font-weight: 700;
    color: var(--ark-grayish-cyan);
}

.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.people{
    font-weight: 500;
    margin-top: 20px;
    color: var(--ark-grayish-cyan);
}
.user{
    background: url('./images/icon-person.svg');
    background-repeat: no-repeat;
    width: 19px;
    height: 20px;
    background-size: cover;
}
/* End of left */

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
    width: 50%;
    background: var(--very-dark-cyan);
    border-radius: 10px;
    box-shadow: 0 10px 10px rgb(235, 233, 233);
    min-width: 250px;
    /* padding: 20px; */
}
#tip-amount{
    color: --var(--white);
}
.tip-amount{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    
}

.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 3em;
}

.reset{
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgb(28, 201, 172);
    font-family: Red Hat Display;
    font-weight: 700;
    color: var(--white);
    margin-top: 5em;
}

@media (max-width: 675px) {
    .card{
        width: 70vw;
        height: 100vh;
        background-color: var(--white);
        margin: 0 auto;
        border-radius: 20px;
        margin-bottom: 20px;
        min-width: 700px;
    }
    .card-main-body{
        flex-direction: column;
    }
    .left{
        width: 80%;
    }
    .right{
        width: 80%;
    }
}

